{{/* Custom citation layout that bolds Han Zhang's name */}}
<div class="pub-list-item view-citation">
  <div class="article-metadata">
    {{- with .Params.authors -}}
      {{- $target_author := "Han Zhang" -}}
      {{- $authors := . -}}
      {{- $author_count := len $authors -}}
      {{- range $index, $author := $authors -}}
        {{- if eq $author $target_author -}}
          <strong>{{ $author }}</strong>
        {{- else -}}
          {{ $author }}
        {{- end -}}
        {{- if lt $index (sub $author_count 1) -}}
          {{- if eq $index (sub $author_count 2) -}} and {{ else }}, {{ end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    
    {{- with .Date -}}
      ({{ .Format "2006" }}).
    {{- end -}}
  </div>

  <h3 class="article-title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>

  {{- with .Params.publication -}}
    <div class="article-style">
      {{ . | markdownify }}
    </div>
  {{- end -}}

  {{- if .Params.doi -}}
    <div class="article-metadata">
      doi: <a href="https://doi.org/{{ .Params.doi }}" target="_blank" rel="noopener">{{ .Params.doi }}</a>
    </div>
  {{- end -}}
</div> 