{{ $nanogallery2_settings := resources.Get "ng2_gallery_compact.json" | transform.Unmarshal | jsonify}}

{{/* Define caption mapping for mentee photos */}}
{{ $captions := dict 
    "/media/mentees/alex_aps_2019.png" "Alex Fischer at APS 2019"
    "/media/mentees/chuyan_aps_2018.png" "Chuyan Qu (R) at APS 2018"
    "/media/mentees/madelyn_nicole_urop.png" "Madelyn Evans (L) and Nicole Fraija (R) at UROP Symposium"
    "/media/mentees/ray_aps_2016.png" "Ray Cleveland (R) and I (L) at APS 2016"
    "/media/mentees/yun-gi_urop.png" "Yun-Gi Hwang at UROP Symposium"
    "/media/mentees/esha_psychonomics_2024.png" "Esha Brar at Psychonomics 2024"
}}
s
<div data-nanogallery2="{{$nanogallery2_settings}}">
    {{ range $index, $image := sort (resources.Match (.Get "directory")) }}
    {{ $.Scratch.Set "thumbnail" ($image.Resize "x800 q90") }}
    {{ $imageName := $image.Name }}
    {{ $caption := index $captions $imageName }}
    <a href="{{ $image.RelPermalink }}" data-ngthumb="{{ ($.Scratch.Get "thumbnail").RelPermalink }}">{{ $caption }}</a>
    {{ end }}
</div>
